

.container-form {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

.container-form h2 {
    margin-bottom: 15px;
    font-size: 35px;
}

.container-form p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form a {
    font-size: 19px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.container-form a i {
    color: rgb(111, 34, 182);
    margin-right: 12px;
}

.container-form form .campo, textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #BD4676;
    margin-bottom: 20px;
    border-radius: 4px;
    outline-offset: 0px;
}

.container-form form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar {
    padding: 15px;
    font-size: 17px;
    border: none;
    outline: 0px;
    background: #63233d;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar {
    background: #915c71;
}

img {
    width: 250px;
    height: 175px;
}
